.mdw__lawyer_education,
.mdw__lawyer_job,
.mdw__lawyer_academic_activities {
  margin: 2rem 0;
  font-family: "Libre Franklin", Sans-serif;
}

.mdw-fw300 {
  font-size: 14px;
  font-weight: 300;
}

.mdw-fw400 {
  font-weight: 400;
}

.mdw-fw500 {
  font-family: "Libre Franklin", Sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 500;
  color: #1B2D4F;
}

.mdw-fw700 {
  font-weight: 700;
}

.mdw-fup {
  text-transform: uppercase;
}

.mdw__membership {
  font-family: "Libre Franklin", Sans-serif;
  font-size: 16px;
}

/*Estilos para las publicaciones del abogado en el single page*/
.mdw__lawyer_post-slider {
  height: 300px;
}

.mdw__lawyer_post-card {
  height: 250px;
  border-radius: 7px;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
}

.mdw__lawyer_post-slider .swiper-slide {
  border-radius: 7px;
}

.mdw__lawyer_post-card .mdw__card_content-img img {
  border-radius: 7px 7px 0 0;
  height: 170px;
  width: 100%;
  object-fit: cover;
}

.mdw__lawyer_post-card .mdw__card_content-title {
  line-height: 0;
  padding: 1em;
}

.mdw__lawyer_post-slider .mdw__swiper-button {
  top: calc(100% - 1rem);
}

.mdw__lawyer_post-slider .mdw__swiper-button::after {
  font-size: 0.8rem;
}

.mdw__lawyer_post-slider .swiper-button-prev {
  left: calc(50% - 2rem);
  background-color: #1B2D4F !important;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  color: white !important;
  opacity: 1 !important;
}

.mdw__lawyer_post-slider .swiper-button-next {
  right: calc(50% - 2rem);
  background-color: #1B2D4F !important;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  color: white !important;
  opacity: 1 !important;
}

/*Estilos para los abogados relacionados a una publicacion en el single de publicaciones*/
.mdw__ppu_lawyers-content {
  font-family: "Libre Franklin", Sans-serif;
}

.mdw__ppu_lawyers-content .mdw__ppu_lawyer-card {
  display: flex;
  align-items: center;
  max-width: 400px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  height: 120px;
  position: relative;
  margin-bottom: 1rem;
}

.mdw__ppu_lawyer-card .mdw__ppu_lawyer-photo img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
}

.mdw__ppu_lawyer-card .mdw__ppu_lawyer-link a {
  color: #00a0af;
  font-size: 14px;
  text-decoration: underline;
}

.mdw__ppu_lawyer-card .mdw__ppu_lawyer-fullname {
  margin: 0;
}

.mdw__ppu_lawyer-card .mdw__ppu_lawyer-fullname a {
  color: #002856;
  font-size: 16px;
}

.mdw__ppu_lawyer-card .mdw__ppu_lawyer-ocupation {
  color: #002856;
  font-size: 13px;
}